<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">
            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
{#            <div class="col-md-6 mt-md-0 mt-3">#}
            <div class="col-md-12 mt-md-0 mt-12">

                <!-- Content -->
                <p>© Copyright 2020-Kwiecień - {% now "Y-F" %} Website, Technology Work · | Wszelkie prawa zastrzeżone |
                    Ta strona używa plików cookie i innych technologii. Korzystając z niej wyrażasz zgodę na ich
                    używanie, zgodnie z aktualnymi ustawieniami przeglądarki. </p>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
{#            <div class="col-md-3 mb-md-0 mb-3">#}
{#                <!-- Links -->#}
{#                <h5 class="text-uppercase">Links</h5>#}
{#                <ul class="list-unstyled">#}
{#                    <li>#}
{#                        <a href="#!">Link 1</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#!">Link 2</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#!">Link 3</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#!">Link 4</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
            <!-- Grid column -->

            <!-- Grid column -->
{#            <div class="col-md-3 mb-md-0 mb-3">#}
{#                <!-- Links -->#}
{#                <h5 class="text-uppercase">Links</h5>#}
{#                <ul class="list-unstyled">#}
{#                    <li>#}
{#                        <a href="#!">Link 1</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#!">Link 2</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#!">Link 3</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#!">Link 4</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/">technology-work.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->