<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="/">
                <span class="glyphicon glyphicon-envelope"></span> Oferty pracy</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span> {{ user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'account_user' user.id %}">
                                    <span class="glyphicon glyphicon-book"></span> Konto
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{% url 'logout' %}">
                                    <span class="glyphicon glyphicon-log-out"></span> Wyloguj się
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login_user' %}">
                            <span class="glyphicon glyphicon-log-in"></span> Logowanie
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'register_user' %}">
                            <span class="glyphicon glyphicon-registration-mark"></span> Rejestracja
                        </a>
                    </li>
                {% endif %}
{#                <li>#}
{#                    <a href="">#}
{#                        <span class="glyphicon glyphicon-list-alt"></span> Opinie#}
{#                    </a>#}
{#                </li>#}
                <li>
                    <a href="{% url 'contact' %}">
                        <span class="glyphicon glyphicon-list-alt"></span> Kontakt
                    </a>
                </li>
                {% if user.is_superuser %}
                    <li>
                        <a href="/admin">
                            <span class="glyphicon glyphicon glyphicon-briefcase"></span> Panel Admina
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>