{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="jumbotron jumbotron-fluid">
                    <h1 class="display-4">Formularz kontaktowy</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">
                                Tytuł
                            </label>
                            <input type="text" class="form-control" id="title" name="title"/>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Adres e-mail
                            </label>
                            <input type="email" class="form-control" id="email" name="email"/>
                        </div>
                        <div class="form-group">
                            <label for="desc">
                                Opis
                            </label>
                            <textarea name="desc" id="desc" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-send"></span> Wyślij
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}