{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <table class="table table-sm table-hover table-bordered table-responsive">
                    <tbody>
                    <tr>
                        <td>
                            Tytuł oferty
                        </td>
                        <td>
                            {{ form.title }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Typ oferty czyli oferujesz lub szukasz ?
                        </td>
                        <td>
                            {{ form.typeOffer }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Opis stanowiska
                        </td>
                        <td>
                            {{ form.text }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lista kategorii
                        </td>
                        <td>
                            <div class="input-group">
                                <label for="id_category"></label>
                                <select id="id_category" name="category[]" multiple>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">
                                            {{ category.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nazwa firmy
                        </td>
                        <td>
                            {{ form.companyName }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Wymagana technologia do pracy
                        </td>
                        <td>
                            {{ form.companySpecialization }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Poziom umiejętności kandydata (Jr., Mid., Regular, Sr.)
                        </td>
                        <td>
                            <label for="id_experience_level"></label>
                            <select id="id_experience_level" name="experience_level" required>
                                <option value="Junior">Junior</option>
                                <option value="Middle">Middle</option>
                                <option value="Regular">Regular</option>
                                <option value="Senior">Senior</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Widełki
                        </td>
                        <td>
                            {{ form.priceOffer }} Waluta: {{ form.currency }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kraj
                        </td>
                        <td>
                            {{ form.country }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lokalizacja
                        </td>
                        <td>
                            {{ form.media }}
                            {{ form.location }}
                            {{ form.address }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nr. kontaktowy
                        </td>
                        <td>
                            {{ form.contactPhone }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            E-mail do składania aplikacji
                        </td>
                        <td>
                            {{ form.contactEmail }}
                            <span>Nie jest to pole wymagane klient może na twój pierwotny email wysłać ofertę na który się rejestrowałeś</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Zapisz ofertę
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span> Zapisz
                            </button>
                            <a type="button" class="btn btn-large btn-success" href="{% url 'post_list' %}">
                                <span class="glyphicon glyphicon-user"></span> Wróć
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <script>
        CKEDITOR.replace('id_text', {
            height: 260,
            /* Default CKEditor styles are included as well to avoid copying default styles. */
            contentsCss: [
                'http://cdn.ckeditor.com/4.12.1/full-all/contents.css',
                'https://ckeditor.com/docs/vendors/4.12.1/ckeditor/assets/css/classic.css'
            ]
        });
    </script>
{% endblock %}