{% extends 'base.html' %}
{% block content %}
    <div id="app" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
        <div class="jumbotron">
            <h2>
                Serwis ogłoszeniowy - dla programistów z różnych technologii
            </h2>
            <p style="font-size: 1.2em">
                Serwis ogłoszeniowy o pracę dla młodych ,bądż doświadczonych programistów z całego świata. Nasz serwis
                jest przejrzysty i czytelny dla oferujacych pracę jak i szukajacych.
            </p>
            <p>
                {% if user.is_authenticated %}
                    <a href="{% url 'post_create' %}" class="btn btn-primary btn-large">
                        <span class="glyphicon glyphicon-plus"></span>
                        Nowa oferta pracy
                    </a>
                {% endif %}
            </p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="jumbotron">
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">
                                        <small class="text-muted">Kategorie</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4" role="menubar">
                                        <li style="margin-top: 1%">
                                            <a href="/" class="btn btn-danger">
                                                All
                                            </a>
                                        </li>
                                        <li v-for="category in categories" style="margin-top: 1%">
                                            <a href="" class="btn btn-danger">
                                                [[ category.name ]]
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-8">
{#                            <nav class="navbar" role="navigation">#}
{#                                <div class="container-fluid">#}
{#                                    <!-- Brand and toggle get grouped for better mobile display -->#}
{#                                    <div class="navbar-header">#}
{#                                        <button type="button" class="navbar-toggle btn btn-success"#}
{#                                                data-toggle="collapse"#}
{#                                                data-target="#bs-example-navbar-collapse-1">#}
{#                                            <span class="glyphicon glyphicon-tower"></span>#}
{#                                        </button>#}
{#                                        <a class="navbar-brand" href="#">Filtry</a>#}
{#                                    </div>#}
{#                                    <!-- Collect the nav links, forms, and other content for toggling -->#}
{#                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#                                        <ul class="nav navbar-nav">#}
{#                                            <li class="dropdown" style="margin-right: 5px;">#}
{#                                                <a href="#" class="dropdown-toggle btn buttonFilterLink"#}
{#                                                   data-toggle="dropdown">#}
{#                                                    Sortowane czasowe#}
{#                                                    <span class="caret"></span>#}
{#                                                </a>#}
{#                                                <ul class="dropdown-menu" role="menu">#}
{#                                                    <li class="divider"></li>#}
{#                                                    <li>#}
{#                                                        <a href="#">#}
{#                                                            Separated link#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                            <li class="dropdown" style="margin-right: 5px;">#}
{#                                                <a href="#" class="dropdown-toggle btn buttonFilterLink"#}
{#                                                   data-toggle="dropdown">#}
{#                                                    Widełki#}
{#                                                    <span class="caret"></span>#}
{#                                                </a>#}
{#                                                <ul class="dropdown-menu" role="menu">#}
{#                                                    <li class="divider"></li>#}
{#                                                    <li>#}
{#                                                        <div class="slidecontainer">#}
{#                                                            <label for="myRange"></label>#}
{#                                                            <input type="range" min="1" max="100" value="50"#}
{#                                                                   class="slider"#}
{#                                                                   id="myRange">#}
{#                                                        </div>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                            <li class="dropdown" style="margin-right: 5px;">#}
{#                                                <a href="#" class="dropdown-toggle btn buttonFilterLink"#}
{#                                                   data-toggle="dropdown">#}
{#                                                    Poziom doświadczenia#}
{#                                                    <span class="caret"></span>#}
{#                                                </a>#}
{#                                                <ul class="dropdown-menu" role="menu">#}
{#                                                    <li class="divider"></li>#}
{#                                                    <li>#}
{#                                                        <a href="#">#}
{#                                                            Separated link#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                            <li class="dropdown">#}
{#                                                <a href="#" class="dropdown-toggle btn buttonFilterLink"#}
{#                                                   data-toggle="dropdown">#}
{#                                                    Najczęściej oceniane#}
{#                                                    <span class="caret"></span>#}
{#                                                </a>#}
{#                                                <ul class="dropdown-menu" role="menu">#}
{#                                                    <li class="divider"></li>#}
{#                                                    <li>#}
{#                                                        <a href="#">#}
{#                                                            Separated link#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div><!-- /.navbar-collapse -->#}
{#                                </div><!-- /.container-fluid -->#}
{#                            </nav>#}
                            <div class="table-responsive">
                                <table class="table table-sm table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Tytuł
                                        </th>
                                        <th>
                                            Firma
                                        </th>
                                        <th>
                                            Data dodania
                                        </th>
                                        <th>
                                            Szczegóły
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="post in posts.results">
                                        <td>
                                            [[ post.id ]]
                                        </td>
                                        <td>
                                            [[ post.title ]]
                                        </td>
                                        <td>
                                            [[ post.companyName ]]
                                        </td>
                                        <td>
                                            [[ post.created_date | formatCustomDate ]]
                                        </td>
                                        <td>
                                            <a v-bind:href="post.id" class="btn btn-large btn-success">
                                                <span class="glyphicon glyphicon-hand-left"></span> Zobacz
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="#"
                                               @click="'posts/?page=' + pagination_last_first_element(posts.previous)">&laquo;</a>
                                        </li>
                                        <li>
                                            <a v-range(posts.page_range) href="#" v-for="index in posts.page_range"
                                               @click="pagination_all_element(index)">
                                                [[ index ]]
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#"
                                               @click="pagination_last_first_element(posts.next)"
                                               aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

