{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title">
                                    Oferta {{ post.id }}:
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">
                                    {{ post.title }}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body" style="width: 100%;position: relative;height: 100vh;padding: 0;">
                            <div id="map"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title display-2">
                                    Jaka firma oraz kogo szukamy:
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text" style="word-break: break-all;">
                                    Firma:{{ post.companyName }}
                                    <br>
                                    Szukamy: {{ post.companySpecialization }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title display-2">
                                    Warunki płacowe
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text" style="word-break: break-all;">
                                    Widełki: {{ post.priceOffer|floatformat:"2" }} {{ post.currency }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title display-2">
                                    Opis:
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text" style="word-break: break-all;">
                                    {{ post.text | safe }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title display-2">
                                    Kategorie:
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <ul>
                                {% for category in post.category.all %}
                                    <li style="list-style: none">
                                        <p class="btn btn-success btn-xs mb-2">
                                            {{ category.name }}
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title display-2">
                                    Kontakt telefoniczny:
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <p>
                                {{ post.contactPhone }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                Dodano: {{ post.created_date }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <a type="button" class="btn btn-success btn-large" href="{% url 'post_list' %}">
                                    <span class="glyphicon glyphicon-user"></span> Wróć
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-title">
                                <h2>
                                    Aplikacja na tę ofertę
                                </h2>
                            </div>
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="name">Imię oraz nazwisko</label>
                                        <input type="text" class="form-control" id="name"
                                               placeholder="Podaj swoje imię oraz nazwisko" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email"
                                               placeholder="Adres email" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="link">Link do repozytorium</label>
                                        <input type="url" class="form-control" id="link"
                                               placeholder="link do repozytorium" name="link">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-actions" for="fileCv">Twoje CV</label>
                                        <input type="file" class="form-actions" id="fileCv" name="fileCv">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Aplikuj</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script>
        mapboxgl.accessToken = '{{ mapToken }}';
        const mapboxClient = mapboxSdk({accessToken: mapboxgl.accessToken});

        mapboxClient.geocoding
            .forwardGeocode({
                query: '{{ post.location | slice:"()"|join:", "}}',
                autocomplete: false,
                limit: 1
            })
            .send()
            .then(function (response) {
                if (
                    response &&
                    response.body &&
                    response.body.features &&
                    response.body.features.length
                ) {
                    let feature = response.body.features[0];

                    let map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: feature.center,
                        zoom: 10
                    });

                    map.addControl(
                        new mapboxgl.GeolocateControl({
                            positionOptions: {
                                enableHighAccuracy: true,
                                showUserLocation: true,
                                fitBoundsOptions: true,
                            },
                            trackUserLocation: true,
                            trigger: true,
                        })
                    );

                    map.on('load', function () {
                        map.addSource('points', {
                            'type': 'geojson',
                            'data': {
                                'type': 'FeatureCollection',
                                'features': [
                                    {
                                        'type': 'Feature',
                                        'geometry': {
                                            'type': 'Point',
                                            'coordinates': [feature.center]
                                        },
                                        'properties': {
                                            'title': 'Miejsce docelowe oferty mieści się tutaj',
                                            'icon': 'monument'
                                        }
                                    },
                                    {
                                        'type': 'Feature',
                                        'geometry': {
                                            'type': 'Point',
                                            'coordinates': feature.center
                                        },
                                        'properties': {
                                            'title': 'Miejsce docelowe oferty mieści się tutaj',
                                            'icon': 'harbor'
                                        }
                                    }
                                ]
                            }
                        });

                        map.addLayer({
                            'id': 'points',
                            'type': 'symbol',
                            'source': 'points',
                            'layout': {
                                'icon-image': ['concat', ['get', 'icon'], '-15'],
                                'text-field': ['get', 'title'],
                                'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
                                'text-offset': [0, 0.6],
                                'text-anchor': 'top'
                            }
                        });
                    });
                }
            });

    </script>
{% endblock %}