{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="btn btn-danger"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1>
            <span class="glyphicon glyphicon-user"></span> Zaktualizuj swoje dane!
        </h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Nazwa użytkownika</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
            </div>
            <div class="form-group">
                <label for="firstName">Imię</label>
                <input type="text" class="form-control" id="firstName" name="first_name" value="{{ user.first_name }}">
            </div>
            <div class="form-group">
                <label for="lastName">Nazwisko</label>
                <input type="text" class="form-control" id="lastName" name="last_name" value="{{ user.last_name }}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
            </div>
            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="password2">Potwierdż hasło</label>
                <input type="password" class="form-control" id="password2" name="password2">
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Zapisz
            </button>
            <a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}">
                <i class="fa fa-facebook-official"></i> Facebook
            </a>
            <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
                <i class="fa fa-google-plus"></i> Google
            </a>
        </form>
    </div>
{% endblock %}