{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="btn btn-danger"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1>
            <span class="glyphicon glyphicon-user"></span> Zaloguj się!
        </h1>
        <form method="post">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Zaloguj się
            </button>
            <a href="{% url 'sendPassword' %}" class="btn btn-danger">
                <i class="glyphicon glyphicon-envelope"></i> Przypomnij hasło
            </a>
            <a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}">
                <i class="fa fa-facebook-official"></i> Facebook
            </a>
            <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
                <i class="fa fa-google-plus"></i> Google
            </a>
        </form>
    </div>
{% endblock %}