{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="btn btn-danger"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1>
            <span class="glyphicon glyphicon-user"></span> Zarejestruj się!
        </h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Nazwa użytkownika</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="password2">Potwierdż hasło</label>
                <input type="password" class="form-control" id="password2" name="password2">
            </div>
            <div class="form-group">
                <input type="checkbox" class="form-actions" id="active" name="active">
                <label for="active">Wyrażam zgodę na przetwarzanie moich danych przez stronę https://technology-work.com
                    dla potrzeb niezbędnych do realizacji procesu rekrutacji, zgodnie z Rozporządzeniem Parlamentu
                    Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 roku oraz ustawą z dnia 10 maja 2018
                    roku oochronie danych osobowych (Dz.U.2018 poz. 1000) oraz zgodnie klauzulą informacyjną dołączoną
                    do mojej zgody.</label>
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Zarejestruj się
            </button>
            <a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}">
                <i class="fa fa-facebook-official"></i> Facebook
            </a>
            <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
                <i class="fa fa-google-plus"></i> Google
            </a>
        </form>
    </div>
{% endblock %}
