{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>
            <span class="glyphicon glyphicon-user"></span> Podaj nowe hasło {{ user.email }}!
        </h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="password2">Potwierdż hasło</label>
                <input type="password" class="form-control" id="password2" name="password2">
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Nowe hasło
            </button>
        </form>
    </div>
{% endblock %}