{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>
            <span class="glyphicon glyphicon-user"></span> Nowe hasło
        </h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Wyślij nowe hasło
            </button>
        </form>
    </div>
{% endblock %}